/*

=====  Main Tags =====

*/

body {
  margin: 0;
}

h3 , p {
  font-family: "Nanum Gothic", sans-serif;
  
}

/*

===== Classes =====

*/

.wrapper-page {
  display: grid;
  grid-template-rows: 1fr;
}

.wrapper-page > div {
  box-sizing: border-box;
}

.header-section {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
}

.social-1 {
  text-align: right;
  grid-column: 1 / 2;
}

.logo {
  grid-column: 2 / 3;
}

.social-2 {
  text-align: left;
  grid-column: 3 /4;
}

.nav-section {
  background-color: black;
  height: 50px;
  border-top: solid #b52332 2px;
  border-bottom: solid #b52332 2px;
  padding-top: 15px;
  text-align: center;
}

.nav-section > ul {
  list-style-type: none;
  padding: 0;
}

.nav-section > ul > li {
  border-right: solid white 2px;
  display: inline;
}

.nav-section > ul > li:last-child {
  border: none;
}

.nav-section > ul > li > a {
  text-decoration: none;
  font-weight: 900;
  color: #b52332;
  font-family: "Nanum Gothic", sans-serif;
}

.nav-section > ul > li > a:hover {
  text-decoration: none;
  color: white;
}

.hero-section {
  background-size: cover;
  background-image: url("../images/silouette-wide.png");
  background-repeat: no-repeat;
}

.separator {
    background-image: url("../images/group-2.jpeg");
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section {
  line-height: 40px;
  height: 600px;
}

.section-img-l {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.section-img-r {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.section-title {
  font-size: 30px;
  border-bottom: solid 1px black;
}

.footer-section {
    clear: both;
    background-color: #222;
    color: #999;
    text-align: center;
    height: 300px;
    font-family: "Nanum Gothic", sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding: 25px 200px;

}

.footer-section > div {
  height: 200px;
  text-align: left;
  color: #bbb;
  line-height: 30px;


}

.iframe-map {
    position: relative;
    height: 0;
    overflow: hidden;
}

.iframe-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 97%;
}


.coach-description {
  margin-left: 40px;
}

.coach-description > h3 {
  font-size: 30px;
  border-bottom: solid 1px black;
}

.coach-description > p {
  font-size: 18px;
}

.coach-image > img{
  max-width: 300px;
  max-height: 500px;
  border: solid 5px black;
}

.header-section > div > a {
  text-decoration: none;
  color: grey;
}

.home-image > img {
  border: solid #222 5px;
}



/*

===== ID's =====

*/

#quote {
  position: relative;
  font-family: "Black Ops One", cursive;
  display: none;
}

#welcome {
    background-color: black;
    color: #ccc;

}

#muay-thai {
    background-color: #f5e60b;
    color: black;

}

#sparring > .home-content >.section-title,
#grappling > .home-content >.section-title,
#children > .home-content >.section-title,
#welcome-header   {
  border-bottom: solid 1px #ccc;
}

#grappling {
    background-color: black;
    color: #ccc;

}

#sparring {
    background-color: #b52332;
    color: #ccc;

}

#children {
    background-color: #b52332;
    color: #ccc;

}

#google-map-embed {
    height: 80vh;

}

#calendar-embed {
    height: 80vh;

}

#photos-section {
  background-color: black;
  border-top: solid 20px #f5e60b;
  border-bottom: solid 20px #f5e60b;
  padding-top: 0;

}

#coach-jim {
  background-color: #b52332;
}

#coach-linda {
  background-color:  #f5e60b;
}

#jim-section {
  color: white;
}

#jim-header {
  border-bottom: solid 2px white;
}

/*

=====  Media Queries =====

*/

/*

-----  Phone Width -----

*/

@media (max-width: 599px) {
  p {
    font-size: 12px;
  }

  .logo > img {
    height: 50px;
  }

  .header-section {
    grid-template-columns: auto;
  }

  .social-1,
  .social-2 {
    padding-top: 8px;
  }

  .nav-section > ul > li {
    margin-left: 10px;
    padding-right: 5px;
  }

  .nav-section > ul > li > a {
    font-size: 14px;
  }

  .hero-section {
    height: 200px;
    background-image: url("../images/silouette.png");
  }

  .separator {
    background-attachment: scroll;
}

  .section {
    padding: 10px 30px;
    line-height: 25px;
  }

  .section-img-l {
    display: grid;
    grid-template-columns: auto;
  }

  .section-img-r {
    display: grid;
    grid-template-columns: auto;
  }

  .home-image {
    grid-row: 1 / 2;
  }

  .home-image > img {
    max-width: 300px;
    max-height: 300px;
  }

  .home-content {
    grid-row: 2 / 3;
  }

  #quote {
    top: 20px;
    left: 50px;
    width: 120px;
  }

  .section-title {
    font-size: 20px;
  }

  .coach-image {
    margin-left: 50px;
  }
}

.footer-logo {
  grid-column: 1 / 3;
}

.footer-info {
  grid-column: 1 / 3;
}

.footer-section {
  padding: 25px 25px;
  height: 500px;
}


/*

-----  Ipad Width -----

*/



@media (min-width: 600px) and (max-width: 899px) {
  .social-1,
  .social-2 {
    padding: 25px 10px;
    word-spacing: 20px;
  }

  .nav-section > ul > li {
    margin-left: 4%;
    padding-right: 4%;
  }

  .hero-section {
    height: 275px;
  }

  .separator {
      background-attachment: scroll;
}

  .section {
    padding: 25px 80px;
    line-height: 40px;
    height: 450px;
  }

  .home-image > img {
    max-width: 300px;
    max-height: 300px;
  }

  .section-img-l > .home-image > img {
      margin-right: 20px;
  }

  .section-img-r > .home-image > img {
    margin-left: 20px;
}

.section-title {
  font-size: 28px;
  line-height: 50px;
  margin-bottom: 10px;
}

.footer-section {
  height: 500px;
}

.footer-logo {
  grid-column: 1 / 3;
}

.footer-info {
  grid-column: 1 / 3;
}

  #quote {
    top: 15%;
    left: 15%;
    width: 250px;
    font-size: 20px;
  }
}

/*

-----  Old Desktop Width -----

*/

@media (min-width: 900px) and (max-width: 1199px) {

  p {
    font-size: 18px;
  }

  .social-1,
  .social-2 {
    padding: 30px 10px;
    word-spacing: 40px;
  }

  .nav-section > ul > li {
    margin-left: 6%;
    padding-right: 6%;
  }

  .hero-section {
    height: 370px;
  }

  .separator {
    height: 270px;
  }

  .section {
    padding: 25px 75px;
    line-height: 40px;
  }

  .home-image > img {
    max-width: 500px;
    max-height: 500px;
  }

  .section-img-l > .home-image > img {
      margin-right: 20px;
  }

  .section-img-r > .home-image > img {
    margin-left: 20px;
}

.section-title {
  font-size: 35px;
  line-height: 50px;
  margin-bottom: 20px;
}

  #quote {
    top: 18%;
    left: 13%;
    width: 350px;
    font-size: 30px;
  }
}

/*

-----  Modern Desktop Width -----

*/

@media (min-width: 1200px) {
  p {
    font-size: 22px;
  }

  .social-1,
  .social-2 {
    padding: 30px 10px;
    word-spacing: 60px;
  }

  .nav-section > ul > li {
    margin-left: 7%;
    padding-right: 7%;
  }

  .section p {
      text-align: left !important;
  }

  .hero-section {
    height: 500px;
  }

  .separator {
    height: 270px;
  }

  .section {
    padding: 75px 130px;
    line-height: 40px;
  }

  .home-image > img {
    max-width: 400px;
    max-height: 400px;
  }

  .section-img-l > .home-image > img {
      margin-right: 100px;
  }

  .section-img-r > .home-image > img {
    margin-left: 100px;
}

.section-title {
  font-size: 40px;
  line-height: 60px;
  margin-bottom: 20px;
}

  #quote {
    top: 18%;
    left: 13%;
    width: 500px;
    font-size: 42px;
  }
}
