header {
    text-align: center;
    word-spacing: 30px;
}

p {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 18px;

}


#nav-area {
    background-color: black;
    border-top: solid #b52332 2px;
    border-bottom: solid #b52332 2px;
    margin-top: 10px; 
    color: white;
    text-align: center;
}

#nav-area {
    padding-top: 10px;
}

#nav-area ul{
    list-style-type: none;
}

#nav-area ul:last-child {
    border: none;
}


#nav-area ul li {
    border-right: solid white 2px;
    display: inline;
    padding: 0 40px 0 0;
    margin: 0 20px;
    
}

#nav-area ul li:last-child {
    border: none;
}

#nav-area ul li a {
    text-decoration: none;
    color: #b52332;
}

#nav-area ul li a:hover {
    text-decoration: none;
    color: #f5e60b;
}

#hero-wrapper {
    background-color: #f5e60b;
}

#hero-banner {
    background-size: cover;
    background-image: url("../images/silouette.png");
    background-repeat: no-repeat;
    height: 400px;

}

#quote {
    position: absolute;
    top: 105px;
    left: 50px;
    width: 400px;
    font-family: 'Black Ops One', cursive;
}

#section-1-wrapper{
    color: white;
    padding: 40px 0;
    background-color: black;
    line-height: 40px;
    
}

#building-front {
    float: left;
    margin-right: 20px;
}

#section-2-wrapper{
    
    color: white;
    padding: 40px 0;
    background-color: #b52332;
    line-height: 40px;
}

#muay-thai {
    float: right;
    margin-left : 20px;
}

#section-3-wrapper{
    
    color: black;
    padding: 40px 0;
    background-color: white;
    line-height: 40px;
}

#knee-2-the-face{
    float: left;
    margin-right: 20px;
}

#section-4-wrapper{
    
    color: black;
    padding: 40px 0;
    background-color: #f5e60b;
    line-height: 40px;
}

#footer-wrapper{
    
    color: white;
    padding: 40px 0;
    background-color: black;
    line-height: 40px;
    text-align: center;
}



