body {
    background-color: black;
    width: 1410px;

}

header {
    background-color: #ffee00;
    border-bottom: solid #b52332 5px;

}

header ul {
        list-style-type: none;
        margin: 0;
        padding: 25px 0 0 0;
        font-size: 20px;
}

header ul li {
    text-decoration: none;
    display: inline;
    margin: 0 30px;
    
}

header ul li a {
    color: #b52332;
}

header ul li a:hover {
    text-decoration: none;
    color: black;
}

#hero-wrapper {
    padding: 0;
    background-color: #f5e60a;
    height: 400px;
    width: 100%;

}

#quote {
    position: absolute;
    background-image: url("../images/something.png");
    background-repeat:no-repeat;
    left: 50px;
    top: 40px;
    width: 390px;
    height: 200px;
    color: black;
    padding: 20px 0 0 20px;
    font-family: 'Nanum Myeongjo', serif;

}

#logo-wrapper {
    padding: 0;

}

#logo {
    float: left;

}

#silouette {
    position: absolute;
    left: 0px;

}

#content-wrapper {
    padding: 0;

}

